body.home {
  background-color: #CCC;
}

.home-inner {
  padding-top: 50px;
  text-align: center;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.home-login-button {
  margin-left: 10px;
}
